.aspnet
.aws
.azure
**/*.cache
.config/tmux
.docker
.dotnet
.gnupg
.local
.nuget
.oh-my-zsh
.omnisharp
.ssh
.terraform.d
.tmux
.vagrant.d
Apps
Dev
Downloads
powerlevel10k
.bash_history
.sudo_as_admin_succcessful
.wget-hsts
.zsh_history

