# This is Git's per-user configuration file.
[user]
  name = Sebastián Guzmán
  email = sguzman@fastlydev.com
[merge]
  tool = vimdiff
[core]
	editor = vim
	pager = cat
[color]
  ui = true
[alias]
	s = status --short
	co = checkout
	cob = checkout -b
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[init]
  defaultBranch = main
[pull]
  rebase = false
